@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css("fonts");


//--------- COMPONENTS ---------//
body {
    @apply overflow-x-hidden font-primary text-white bg-primary max-w-[1440px] mx-auto text-base xl:text-lg;
}

a, button, svg, span, ul, li, input {
    @apply transition-all duration-200 ease-linear;
    &:hover {
        @apply transition-all duration-200 ease-linear;
    }
}

.title {
    &-md {
        @apply text-lg md:text-[28px] xl:text-[32px] md:leading-[34px] xl:leading-[42px] font-medium;
    }
    &-lg {
        @apply text-[40px] xl:text-[44px] leading-[48px] xl:leading-[56px] font-semibold;
    }
    &-xl {
        @apply text-[32px] md:text-[48px] lg:text-[58px] xl:text-[64px] leading-[40px] md:leading-[54px] lg:leading-[64px] xl:leading-[72px] font-semibold;
    }
    &-2xl {
        @apply text-[52px] sm:text-[64px] xl:text-[74px] 1xl:text-[88px] leading-[54px] sm:leading-[68px] xl:leading-[82px] 1xl:leading-[100px];
    }
}

.main-container {
    @apply px-5 md:px-10 xl:px-[60px];
}

.y-spacing {
    @apply pb-20 md:pb-28 xl:pb-40;
}

.link {
    @apply transition-all duration-200 ease-linear;
    &:hover {
        @apply text-accent3 opacity-100 transition-all duration-200 ease-linear;
    }
}

.btn {
    @apply px-5 py-2.5 rounded w-fit font-semibold;
    &-primary {
        @apply text-primary bg-accent2;
        &:hover {
            @apply bg-opacity-60;
        }
    }
}

.title-container {
    @apply mb-16 1xl:mb-20 text-accent3;
}

.dropdown {
    @apply relative;
    &-btn {
        @apply flex items-center;
    }
    &-container {
        @apply overflow-hidden w-[190px] md:w-[240px] opacity-0 invisible absolute right-0 top-8 rounded-2xl border border-accent5 px-4 py-2.5 z-40 lg:z-auto transition-all duration-100 ease-linear;
        &:before {
            @apply content-[''] absolute left-0 top-0 w-full h-full bg-primary lg:bg-accent4 bg-opacity-100 lg:bg-opacity-25 blur-0 lg:blur-[8px] rounded-2xl;
        }
        &.show {
            @apply opacity-100 visible transition-all duration-100 ease-linear;
        }
        ul {
            @apply relative z-[1] w-full flex flex-col gap-4;
            li {
                @apply w-full;
            }
        }
    }
}

.blur-effect {
    @apply absolute z-[-1] rounded-full bg-linear-1;
    &-1 {
        @apply top-[-120px] lg:-top-full xl:top-[-180px] right-[60px] lg:right-[14%] w-[330px] lg:w-[710px] h-[250px] lg:h-[445px] rotate-[15deg] blur-[100px] lg:blur-[220px];
    }
    &-2 {
        @apply top-[35%] left-[-150px] sm:left-[-200px] md:left-[-250px] w-[300px] sm:w-[400px] md:w-[500px] h-[300px] sm:h-[400px] md:h-[500px] blur-[140px];
    }
}

.btn-burger {
    @apply w-4 flex flex-col gap-1.5;
    span {
        @apply w-full h-px bg-white transition-all duration-200 ease-linear;
    }
    &.active {
        span:nth-child(1) {
            @apply translate-y-2 rotate-45;
        }
        span:nth-child(2) {
            @apply opacity-0;
        }
        span:nth-child(3) {
            @apply -translate-y-1.5 -rotate-45;
        }
    }
}

input[type="checkbox"], input[type="checkbox"]:focus, input[type="checkbox"]:checked {
    @apply outline-none outline-0 ring-0 outline-offset-0 ring-offset-0;
}

.input {
    @apply appearance-none relative bg-accent4 bg-opacity-25 border-white border-opacity-40 outline-none rounded;
    &:focus {
        @apply border-accent2 transition-all duration-200 ease-linear;
    }
    &::placeholder {
        @apply text-[#dadada] text-base;
    }
}

.checkbox {
    @apply relative appearance-none cursor-pointer bg-transparent border border-[#dadada] w-4 h-4 rounded-sm;
    &:after {
        @apply content-[url('/img/checkbox.svg')] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-2 opacity-0 invisible transition-all duration-200 ease-linear;
    }
    &:checked {
        @apply bg-none border-accent2 outline-none ring-0 ring-transparent bg-accent2 transition-all duration-200 ease-linear;
        &:after {
            @apply opacity-100 visible transition-all duration-200 ease-linear;
        }
        &:hover {
            @apply bg-accent2;
        }
        &:focus {
            @apply bg-accent2;
        }
    }
    &:focus {
        @apply bg-transparent outline-none outline-0 ring-0 ring-transparent;
    }
}



//--------- HEADER ---------//
.nav {
    @apply py-[25px] relative;
    &-container {
        @apply flex justify-between items-center gap-10;
    }
    &-logo {
        @apply w-[180px] xl:w-[215px];
    }
    &-menu {
        @apply absolute lg:relative opacity-0 lg:opacity-100 invisible lg:visible right-5 md:right-10 lg:right-auto top-[70px] lg:top-auto rounded-2xl lg:rounded-none border lg:border-none border-accent5 px-4 py-2.5 lg:p-0 z-40 lg:z-auto uppercase transition-all duration-200 ease-linear;
        &:before {
            @apply content-[''] lg:content-[] absolute w-full h-full top-0 left-0 bg-primary lg:bg-accent4 blur-0 lg:blur-[8px] z-[-1] rounded-2xl;
        }
        &.show {
            @apply opacity-100 visible transition-all duration-200 ease-linear;
        }
        ul {
            @apply flex flex-col lg:flex-row items-start lg:items-center gap-2.5 lg:gap-10 xl:gap-[50px];
        }
    }
    &-action {
        @apply flex items-center gap-5 md:gap-10;
    }
    &-lang {
        .dropdown-btn {
            @apply gap-2;
        }
        .lang-btn {
            @apply flex items-center justify-between w-full;
            span {
                @apply text-accent5;
            }
            &:hover {
                span {
                    @apply text-accent3;
                }
            }
            &.active {
                @apply font-bold pointer-events-none;
            }
        }
    }
    &-burger {
        @apply block lg:hidden;
    }
}

//--------- HERO ---------//
.hero {
    @apply relative;
    &-image {
        @apply absolute top-0 right-[-440px] xl:right-[-350px] hidden lg:flex flex-col items-center;
        img:first-child {
            @apply w-[60%] xl:w-[80%] 1xl:w-full;
        }
        img:last-child {
            @apply w-[180px] xl:w-fit;
        }
    }
    &-container {
        @apply pt-10 xl:pt-14 1xl:pt-[70px];
    }
    &-main {
        @apply flex flex-col gap-10 pb-16 1xl:pb-20;
        .title-2xl {
            @apply max-w-full sm:max-w-[640px] xl:max-w-[780px] 1xl:max-w-[1030px];
        }
        p {
            @apply max-w-full sm:max-w-[480px] 1xl:max-w-[610px];
        }
    }
    &-about {
        @apply pb-16 1xl:pt-20;
        .title-md {
            @apply mb-4 max-w-[540px] 1xl:max-w-[680px];
        }
        p {
            @apply max-w-[560px] xl:max-w-[640px];
        }
    }
}

//--------- DIRECTIONS ---------//
.directions {
    &-container {
        @apply flex-col lg:flex-row h-auto lg:h-[340px] xl:h-[430px] 1xl:h-[520px] w-full flex gap-2;
    }
}

.direction {
    @apply cursor-pointer relative rounded-2xl w-full lg:w-[140px] xl:w-[192px] h-20 lg:h-full p-5 xl:p-10 transition-all duration-200 ease-linear;
    &-image {
        @apply absolute left-0 top-0 w-full h-full;
        img {
            @apply rounded-2xl w-full h-full object-cover;
        }
        &:after {
            @apply content-[''] absolute left-0 top-0 w-full h-full bg-primary bg-opacity-50 rounded-2xl;
        }
    }
    &-content {
        @apply absolute left-0 top-0 pt-0 lg:pt-5 xl:pt-10 w-full h-full flex flex-col items-center lg:items-start justify-center lg:justify-normal transition-all duration-200 ease-linear;
        .title-md {
            @apply text-base lg:text-lg absolute left-auto lg:left-1/2 translate-x-0 lg:-translate-x-1/2;
            writing-mode: unset;
        }
        ul {
            @apply opacity-0 invisible;
        }
    }
    &.active {
        @apply rounded-none w-full lg:w-[720px] h-[440px] lg:h-full transition-all duration-200 ease-linear;
        .direction-image {
            img {
                @apply rounded-none;
            }
            &:after {
                @apply bg-linear-4 xl:bg-linear-3 bg-transparent rounded-none;
            }
        }
        .direction-content {
            @apply justify-normal items-start pt-0 bottom-5 xl:bottom-10 top-auto left-auto w-auto h-auto transition-all duration-200 ease-linear;
            .title-md {
                @apply relative left-auto translate-x-0 mb-4 text-[28px] xl:text-[32px] leading-[34px] xl:leading-[42px];
                writing-mode: unset;
            }
            ul {
                @apply opacity-100 visible text-base;
                li {
                    @apply flex items-center gap-2.5;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .direction-content .title-md {
        writing-mode: sideways-rl;
    }
}

//--------- DEFENCE ---------//
.defence {
    &-container {
        @apply relative;
    }
    &-item {
        @apply relative w-full flex justify-normal;
        &:first-child {
            .defence-image {
                img {
                    @apply max-w-full md:max-w-[430px] lg:max-w-[508px];
                }
            }
        }
        &:nth-child(2) {
            @apply justify-end mt-10 xl:mt-[-380px];
            .defence-inner {
                @apply w-full lg:w-auto;
            }
            .defence-title {
                @apply w-full lg:w-[737px] relative lg:absolute z-[1] top-auto lg:top-[380px] right-auto lg:right-0;
            }
            .defence-image {
                @apply m-0 pr-0 lg:pr-20;
                img {
                    @apply max-w-full md:max-w-[430px] lg:max-w-[561px];
                }
            }
            .defence-content {
                @apply w-full md:w-[427px] bottom-5 md:bottom-20 top-auto right-0;
            }
        }
        &:nth-child(3) {
            @apply mt-10 xl:-mt-8 left-0 xl:left-[232px];
            .defence-title {
                @apply w-full md:w-[580px] lg:w-[630px];
            }
            .defence-image {
                @apply w-full flex justify-center md:justify-end mt-2;
                img {
                    @apply max-w-[430px] lg:max-w-[450px];
                }
            }
            .defence-content {
                @apply right-auto left-0 top-auto md:top-[110px] w-full md:w-[315px];
            }
        }
        &:last-child {
            @apply justify-center mt-[52px];
            .defence-inner {
                @apply w-full;
            }
            .defence-title {
                @apply w-full flex flex-col items-start lg:items-end mr-0 lg:mr-[114px];
                .title-xl, .title-md {
                    @apply w-full md:w-[508px];
                }
            }
            .defence-image {
                @apply w-full flex flex-col md:flex-row justify-end m-0 lg:mr-8 lg:-mt-20;
                img {
                    @apply max-w-full lg:max-w-[1112px];
                }
            }
            .defence-content {
                @apply mt-5 md:mt-0 relative md:absolute bottom-auto md:bottom-[112px] left-0 top-auto right-auto w-full md:w-[427px];
            }
        }
    }
    &-inner {
        @apply flex flex-col items-center w-fit;
    }
    &-title {
        @apply w-full md:w-[674px];
        .title-xl {
            @apply mb-2 md:mb-4;
        }
    }
    &-image {
        @apply mt-5 md:mt-14 relative;
        img {
            @apply w-full;
        }
    }
    &-content {
        @apply p-4 rounded-2xl absolute bottom-5 md:bottom-auto top-auto md:top-9 right-auto md:right-[-100px] border border-white border-opacity-40 w-full md:w-[315px] text-sm md:text-base lg:text-lg;
        &:before {
            @apply content-[''] absolute left-0 top-0 w-full h-full bg-accent4 bg-opacity-25 backdrop-blur-[30px] rounded-2xl z-[1];
        }
        ul {
            @apply relative z-[2];
            li {
                @apply mb-2.5 flex items-baseline gap-2.5;
                .list-hexa {
                    @apply text-accent3;
                }
            }
        }
    }
}

//--------- BENEFITS ---------//
.benefits {
    &-container {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2.5 xl:gap-5;
    }
}

.benefit {
    @apply flex items-center justify-between gap-2.5 relative pr-5 xl:pr-10 rounded-lg border border-white border-opacity-40 bg-accent4 bg-opacity-25;
    img {
        @apply max-w-[140px] xl:max-w-[170px] 1xl:max-w-full;
    }
    p {
        @apply text-sm xl:text-lg;
    }
    &:first-child {
        img {
            @apply w-[244px];
        }
    }
    &:nth-child(3) {
        @apply row-span-1 md:row-span-2 flex-row md:flex-col-reverse justify-center pr-5 md:pr-0 pt-0 md:pt-10;
        img {
            @apply max-w-[140px] md:max-w-full;
        }
        p {
            @apply w-[226px] xl:w-[296px];
        }
    }
    &:nth-child(4) {
        img {
            @apply w-[230px];
        }
    }
}

//--------- FORM ---------//
.form {
    @apply pt-0 lg:pt-[100px] flex flex-col md:flex-row gap-10 lg:gap-[130px];
    .title-container {
        @apply w-full md:w-1/2 mb-0;
        p {
            @apply text-white mt-4 max-w-[650px];
        }
    }
    &-container {
        @apply max-w-[426px] lg:max-w-full w-full md:w-1/2 pr-0 xl:pr-28;
        .input {
            @apply w-full mb-2;
            &:last-child {
                @apply mb-0;
            }
        }
        .policy {
            @apply mt-2 mb-4 gap-2.5 flex items-center text-sm text-[#DADADA] cursor-pointer;
            a {
                @apply underline;
            }
            &:hover {
                a {
                    @apply no-underline;
                }
            }
        }
        .btn {
            @apply w-full;
        }
    }
}

//--------- FOOTER ---------//
.footer {
    &-logo {
        img {
            @apply w-[100px] md:w-auto;
        }
    }
    &-container {
        @apply flex flex-col lg:flex-row gap-10 lg:gap-0 justify-between pt-10 md:pt-[70px] pb-20 border-t border-white border-opacity-20 text-base;
    }
    &-menu {
        @apply flex flex-col md:flex-row justify-between lg:justify-normal gap-10 md:gap-5 lg:gap-0;
    }
    &-item {
        &:first-child {
            @apply mr-0 lg:mr-[132px];
        }
        &:last-child {
            @apply flex items-end;
            p {
                @apply max-w-[202px] ml-0 lg:ml-5 mb-5;
            }
        }
        ul {
            @apply flex flex-col gap-5;
            li {
                p {
                    @apply uppercase font-semibold;
                }
            }
        }
    }
}
