@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('../../public/fonts/TTSupermolotNeueTrialExp-Rg.ttf') format('truetype-variations');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('../../public/fonts/TTSupermolotNeueTrialExp-Md.ttf') format('truetype-variations');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('../../public/fonts/TTSupermolotNeueTrialExp-Db.ttf') format('truetype-variations');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('../../public/fonts/TTSupermolotNeueTrialExp-Bd.ttf') format('truetype-variations');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}
